.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  background-color: #011225;
  color: #b5c7d8;
  font-size: 18px;
}

.nav {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 600;
}

.logo {
  background-image: url(/src/images/logo3.png);
  background-size: 90%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #060d37;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #061b34;
  padding-top: 30px;
  box-shadow: inset 0 5px 5px 2px rgb(14 12 34 / 99%);
}

.image {
  border: 5px solid #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}

.moviesItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  color: #fff;
}

.title {
  margin: 0;
}

.likes-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.likes-count {
  width: 230px;
  text-align: right;
  margin-top: 5px;
}

.likes-count.transition {
  font-size: 25px;
  font-weight: 600;
  color: green;
  transition: all 0.8s ease-in-out;
}

.comment-btn {
  width: 80%;
  border: 2px solid #af7048;
  padding: 5px 0 5px 0;
  color: #3c556f;
  background-color: #d4c7d0;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .movie-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
  }

  .likes-name {
    display: flex;
    width: 65%;
  }
}
